/* Container for the entire page */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../assets/eatfit-bg.jpeg"); /* Set your background image here */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Form container */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Semi-transparent white background */
  padding: 20px 30px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Logo */
.logo {
  width: 150px;
  margin-bottom: 20px;
}

/* Input fields */
.input-field {
  width: 60%;
  padding: 12px 40px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

/* Icons inside input fields */
.icon {
  position: absolute;
  margin-top: -30px;
  margin-left: 10px;
  color: #555;
}

.user-icon {
  top: 142px; /* Adjust based on the layout */
}

.lock-icon {
  top: 204px; /* Adjust based on the layout */
}

/* Forgot Password */
.forgot-password {
  align-self: flex-start;
  font-size: 16px;
  color: #007bff;
  cursor: pointer;
  margin-bottom: 20px;
}

.forgot-password:hover {
  text-decoration: underline;
}

/* Login button */
.login-button {
  width: 100%;
  padding: 12px;
  background-color: #4a4a90; /* Matching blue color */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
}

.login-button:hover {
  background-color: #3a3a70;
}

/* Create Account link */
.create-account-link {
  font-size: 16px;
  color: #333;
  text-decoration: underline;
}

.create-account-link:hover {
  text-decoration: none;
}
